/*--- Start colors ---*/
section {
  margin-top: 5%;
}

.fluid-img-banner {
  background: url("http://blogim.uz/storage/banners/May2020/oFhs5HqOi7IUpDPKjNOb.png") no-repeat center center;
  background-size: cover;
  height: 300px;
}

.img-banner-cont {
  margin-top: 4%;
  color: #fff;
  font-size: 16px;
}

.white-button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2% 10%;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .img-banner-cont {
    margin-top: 20%;
    color: #fff;
    font-size: 16px;
  }
  .white-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2% 10%;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .img-banner-cont {
    margin-top: 20%;
    color: #fff;
    font-size: 16px;
  }
  .white-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2% 10%;
    color: #fff;
  }
}

@media screen and (max-width: 575) {
  .img-banner-cont {
    margin-top: 50%;
    color: #fff;
    font-size: 36px;
  }
  .white-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2% 10%;
    color: #fff;
  }
}

/* --- credit --- */
.credit-main span {
  color: #000;
  font-weight: 700;
  padding-right: 10%;
}

.credit-content-img {
  padding: 0;
}

.credit-content {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 3% 0;
  padding: 0;
}

.credit-content:hover {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 3% 0;
}

.credit-main {
  padding: 2% 3%;
}

.black-button {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  padding: 1.3% 5%;
}

.black-button:hover {
  background-color: #BE2029;
  border-radius: 8px;
  padding: 1.3% 5%;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 575px) {
  .credit-percent {
    padding-right: 50% !important;
  }
}

/* --- About-bank ---*/
.top-red {
  background-color: #BE2029;
  margin-bottom: 5%;
}

.of-border {
  border: none;
}

.of-border img {
  margin: -0.5% 2% 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-bank-navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-bank-navigation ul li {
  padding: 5% 2%;
}

.about-upload {
  margin: 2% 0;
}

.about-bank-navigation ul li a {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.about-bank-navigation2, .about-bank-navigation2-cont {
  background: #f9f9f9;
  padding: 3%;
  border-radius: 10px;
}

.about-bank-navigation2 li {
  padding: 2% 0;
}

.about-bank-navigation2-cont {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64%;
  flex: 0 0 64%;
  max-width: 64%;
  margin-left: 2%;
}

@media screen and (max-width: 767px) {
  .about-bank-navigation2-cont {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 95%;
    margin-left: 2%;
  }
}

.about-bank-navigation2 ul {
  list-style: none;
  padding: 0;
}

.about-bank-navigation2 ul li a, .about-bank-navigation2-cont {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.about-bank-navigation2-cont h4 {
  padding-bottom: 2%;
}

.about-bank-sovet ul {
  list-style: none;
}

.about-bank-sovet li {
  padding: 2% 4%;
  background-color: white;
  margin: 2% 0;
}

.about-bank-sovet p {
  font-size: 20px;
  line-height: 24px;
  color: #091B3A;
  font-weight: 600;
  padding-bottom: 1%;
  margin: 0;
}

.about-bank-sovet span {
  color: #C4C4C4;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

/* --- recomend-products --- */
.recomend-card {
  margin: 7% 0;
}

.recomend-card h4 {
  margin: 6% 0 2% 0;
}

@media screen and (max-width: 991px) {
  .recomend-card p {
    width: 58%;
  }
  .recomend-card img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .recomend-card p {
    width: 76%;
  }
}

@media screen and (max-width: 432px) {
  .recomend-card p {
    width: 90%;
  }
}

.light-button {
  padding: 3% 5%;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: transparent;
}

.recomend-banner {
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px;
  margin: 4% 0;
}

.recomend-banner-content {
  color: #fff;
  margin: 5%;
}

@media screen and (max-width: 575px) {
  .recomend-banner {
    font-size: 14px;
  }
  .recomend-banner button {
    font-size: 14px;
    padding: 2% 6%;
  }
  .recomend-banner h3 {
    font-size: 26px;
  }
  .recomend-banner-content {
    width: 50%;
  }
}

/*news2*/
.news2-cont-img img {
  max-width: 236px;
}

.news2-cont-title h3 {
  font-weight: 600;
  line-height: 29px;
  color: #091B3A;
  margin-top: 0;
  width: 80%;
}

.news2-cont-body p {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
}

.news2-cont-footer span {
  font-size: 12px;
  line-height: 16px;
  color: #C4C4C4;
  padding-left: 2%;
}

.news2-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 0;
}

@media screen and (max-width: 1199px) {
  .news2-cont-title h3 {
    font-weight: 600;
    line-height: 29px;
    color: #091B3A;
    margin-top: 0;
    font-size: 16px;
    width: 80%;
  }
  .news2-cont-body p {
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0;
  }
}

/*news*/
.news {
  background: #fff;
  padding: 5% 0;
}

.news-left-cont p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.news-left-cont span {
  color: #C4C4C4;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin: 1% 0 9% 0;
}

/*right-cont*/
.install-app .store {
  width: 150px;
  height: 44px;
}

.news-right-cont {
  padding-left: 15%;
}

.news-right-cont .news-phone {
  width: 70%;
}

.news-right-cont p {
  padding-left: 6%;
}

/*location*/
.main-map {
  margin-top: 25px;
}

.map-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  border: none;
  border-radius: 0;
  background-color: #eee;
}

.nav-tabs > li > a:hover {
  background-color: #8845a6;
  color: #fff;
}

.nav-tabs > li.active > a {
  border: none;
  background-color: #8845a6;
  color: #fff;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  background-color: #8845a6;
  color: #fff;
}
